# vscode settings
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Unnecessary TypeScript config or source code
./src
./tsconfig.json
./tsconfig.build.json
./.eslintrc.js
./.eslintrc.json
./.eslintignore
./.prettierrc

# Test settings
./jest.config.js
./jest.config.ts

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# pandazy developer's personal settings
.pandazy
